h1 { text-align: center;
    color: rgb(255, 238, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin:  20px;
    font-weight: 5000;
     }


h2 { text-align: left;
    color: white;
    text-decoration: underline;
    font-family: Shanti;
    font-size: 2em;
    margin:  20px; }

.one{
    text-align: justify;
    color: rgb(228, 196, 18);
    width: 1200px;
    font-family: Shanti;
    font-size: 1.5em;
    margin:  10px ;
}

.two{
    text-align: justify;
    color: rgb(228, 196, 18);
    width: 1200px;
    font-family: Shanti;
    font-size: 1.5em;
    margin:  10px ;
}

.three{
    text-align: justify;
    color: rgb(228, 196, 18);
    width: 1200px;
    font-family: Shanti;
    font-size: 1.5em;
    margin:  10px ;
}

.four{
    text-align: justify;
    color: rgb(228, 196, 18);
    width: 1200px;
    font-family: Shanti;
    font-size: 1.5em;
    margin:  10px ;
}

.four{
    text-align: justify;
    color: rgb(228, 196, 18);
    width: 1200px;
    font-family: Shanti;
    font-size: 1.5em;
    margin:  10px ;
}

.five{
    text-align: justify;
    color: rgb(228, 196, 18);
    width: 1200px;
    font-family: Shanti;
    font-size: 1.5em;
    margin:  10px ;
}

.six{
    text-align: justify;
    color: rgb(228, 196, 18);
    width: 1200px;
    font-family: Shanti;
    font-size: 1.5em;
    margin:  10px ;
}

.seven{
    text-align: justify;
    color: rgb(228, 196, 18);
    width: 1200px;
    font-family: Shanti;
    font-size: 1.5em;
    margin:  10px ;
}

.eight{
    text-align: justify;
    color: rgb(228, 196, 18);
    width: 1200px;
    font-family: Shanti;
    font-size: 1.5em;
    margin:  10px ;
}


.ten{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Shanti;
    font-size: 2em;
    margin:  10px ;
}


.foto1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

body {
    background-color: SlateGrey;
}


