<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Uno! Redes</title>
        <link rel="stylesheet" href="{{
        url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/UNO_Logo.svg/2560px-UNO_Logo.svg.png" alt="uno" class ="foto1">
        <br>
            <h1>Bienvenido al Juego UNO!</h1>
            <br>
            <h2>Reglas del juego</h2>
            <p class="one"> 1. A cada jugador se le reparten 7 cartas y el objetivo del juego es quedarse sin ninguna en la mano. Para conseguirlo, cada jugador va dejando
                            sus cartas sobre la mesa por turnos. Primero, se le reparten 7 cartas a cada jugador . 
                        
                        </p>
            <br>
            <p class="two">2. Todos los jugadores van 
                poniendo sobre la mesa sus cartas por turnos, debiendo ser del mismo color y/o del mismo tipo. Si un jugador no puede poner alguna
                carta en su turno porque no tiene una que se le ajuste al color o al tipo que hay encima de la mesa, debe tomar una nueva carta de la
                baraja.
            
            </p>
            <br>
            <p class="three">3. Cuando en algún momento de la partida, a cualquier jugador le quede una sola carta en su mano , este debe indicar "¡UNO!". Sin embargo,
                si esta persona no lo indica antes que otra persona lo haga por ella, quedará penalizado teniendo que robar otra carta de la baraja. 
            
            </p>
            <br>
            <h2>Tipos de cartas especiales en UNO</h2>
            <br>
            <p class="four"> "+2": Con esta carta, el siguiente jugador debe robar 2 cartas de la baraja. Estas cartas también
                 son de colores, por lo que se pueden juntar: si echas a la vez tres cartas de "+2", el siguiente contrincante
                  debe coger 6 cartas de la baraja.
            
            </p>
            <br>
            <p class="five"> "+4": Es una carta de color negro y es de las más temidas porque obliga al siguiente jugador a robar de la 
                baraja 4 cartas. Si echas esta carta, puedes cambiar el color de la partida para escoger el que más te interese.
                 Es, sin duda, la mejor carta para el jugador que la posea. 
            
            </p>
            <br>
            <p class="six"> "Dar la vuelta":  Es una carta que cambia el sentido del juego: al ser originalmente de izquierda a derecha, 
                se cambia de derecha a izquierda. Son cartas de colores y, para ponerlas en la mesa, deben ser del mismo 
                color con el que se está jugando.</p>
            <br>
            <p class="seven"> "Prohibido":  Es una carta que se identifica fácilmente porque contiene la 
                señal de prohibido. Permite saltar un turno del próximo rival, prohibiéndole echar una carta y pasando el turno al jugador siguiente.
            </p>
            <br>
            <p class="eight"> "Cambio de color":  Permite elegir color, siendo especialmente beneficiosa cuando te tocan varias 
                cartas del mismo color. En cambio, para los otros jugadores es negativa porque no disponen de otras opciones de color.
            </p>
            <br>
            <p class = "ten">Descarga del cliente: </p>
            <br>
            <a href="C:\Users\LUISPEDRO\unoredesweb\UNO-master.zip" download>Descargar</a> 
            </a>
        </form>
    </body>
</html>